doctype html
html
  head
    title Dance Master
    block scripts
    block style
  body
    nav#navbar
            ul
                div.logo1
                    img(src="/static/logo1.png")
                li #[a(href = "/") Home]
                li #[a(href = "/servises") Servises]
                li #[a(href = "/") About Us]
                li #[a(href = "/admission") Admission]
    block contents            
    footer#footer
            | © 2020 copyrights
            | www.dancemaster.com  
            | All rights reserved 