extends base.pug

block scripts
    script(src="/static/include.js")

block style
        style
            include ../static/style.css

block contents
        section#intro
            h2 DANCE CLASSES
            p With an aim to provide quality dance training and making dance available to all, SHIAMAK dance classes run throughout the year            at multiple locations for students from ages four to eighty four providing them with training in various dance styles by        Shiamak’s expert faculty. The classes give them an opportunity to learn dance, express themselves creatively and perform on         stage. Classes are available for children (4 to 6 years), juniors (7 to 11 years) and adults (12 years onwards).
        section#servises
            h2 Servises providing for you
            div.box
                h3 Classical
                div.logo-box
                div.logo2
                    img(src="/static/logo2.png")
                    p A classical dance form characterized by grace and precision of movement and by elaborate formal gestures, steps, and poses.
                
            div.box
                h3 Hip-Hop
                div.logo-box
                div.logo2
                    img(src="/static/logo3.png")
                    p Naturally it varies a lot from person to person. But a general rule of thumb is that if you're dancing full time (at least 7 or so classes a week).
                
            div.box
                h3 Modern
                div.logo-box
                div.logo2
                    img(src="/static/logo4.png")
                    p Modern dance is a broad genre of western concert or theatrical dance, primarily arising out of Germany and the United States in the late 19th and early 20th centuries.
        section#about
            h2 More About our academy

            p If you think you can dance then you are at Right place
            p    Our mission at Mad about Dance Revolution is to provide students of all levels with more than just dance classes, but a unique experience in which the student can grow both mentally and physically as a dancer. Our highly trained and certified instructors have a wealth of experience in teaching and performing various styles and disciplines.

            p    Here at Mad about Dance Revolution, we have a passion for the art of dance and for helping others discover their inner dancer. Are you ready to get up and move? Contact us today to learn more about our studio.
